{
"model_file": "model_mp",
"data1_maxlen": 15, 
"data2_maxlen": 15,
"entity_mp_path": "../res/new_entity_mp.txt",
"mention_mp_path": "../res/new_mention_mp.txt",
"train_entity_embed_path": "../sentence_embedding_v3/train_entity_embedding.npy",
"train_mention_embed_path": "../sentence_embedding_v3/train_mention_embedding.npy",
"test_entity_embed_path": "../sentence_embedding_v3/test_entity_embedding.npy",
"test_mention_embed_path": "../sentence_embedding_v3/test_mention_embedding.npy",
"training_path": "../res/emr_train_v2.txt",
"validation_path": "../res/emr_test_v2.txt",
"test_path": "../res/emr_test_v2.txt",
"word_dict_path": "../data/word_dict.txt",
"batch_size": 100,
"embed_size": 30,
"log_file": "log/mp_fold1.log",
"num_epochs": 50,
"k_num": 5,
"output_dim": 16,
"data_maxlen": 20,
"log_path": "../res/tensor_board/logs/08272",
"right_path": "../log/right/right_epoch",
"err_path": "../log/err/err_epoch"
}
